/* GLOBAL FONT */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  --measure-color:#781E1E;
}

/* HEADER */
header h1 {
  text-align: center;
  background: #00a86b;
  padding: 15px;
  color: white;
}

/* BACK BUTTON */
.back-home{
  display:inline-block;
  padding:8px 14px;
  background:#3ae69e;
  color:#fff;
  text-decoration:none;
  border-radius:20px;
}

/* HOVER: BACK BUTTON */
.back-home:hover{
  background:rgba(0, 0, 0, 0.76);
  color: #ffffff;
}

/* INGREDIENTS MEASURE ITALICIZED (old activity) */
.measure{
  font-style: italic;
  color: var(--measure-color);
}

/* RECIPE PAGES */
.recipe-container{
    display: flex;
    flex-direction: column;   
    align-items: center;      
    justify-content: center;  
    text-align: center;       
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;         
}

.recipe-title{
  padding:10px;
  font-weight:bold;
  color:var(--accent);
  transition: background-color 0.25s ease, color 0.25s ease;
}

.recipe-title:hover{
  background-color: #000;
  color: #fff;
}

/* LEFT-ALIGNMENT FOR INGREDIENTS AND INSTRUCTIONS */
.ingredients-list, .instructions-list {
    text-align: left; 
    margin-left: 0;
    padding-left: 20px;
}

/* CAROUSEL SECTION */
.carousel-section { width: 100%; text-align:center; }
.carousel-img {
  width: 60%;
  height: 700px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 20px;
}

.carousel-item {
  margin-bottom: 20px;
}

/* CAPTION */
.carousel-caption {
  background: rgba(0,0,0,0.45);
  padding: 10px;
  border-radius: 8px;
}

/* HOVER: RECIPE-TITLE */
.carousel-title {
  color: #00a86b;
  font-size: 22px;
  font-weight: 700;
  transition: all .2s ease;
}
.carousel-title:hover { background: #000; color: #fff; padding: 2px 6px 2px 6px; border-radius: 4px; }

/* FEATURED VIDEO */
.center-video {
  display: block;
  margin: 20px auto;
  width: 60%;
  border: 3px solid #00a86b;
  border-radius: 10px;
}

/* HOVER: COMING SOON */
.coming-soon { cursor: pointer; }

/* FORM SECTION */
form{
  margin-top:10px;
  padding:12px;
  border:2px solid #051f38;
  width:500px; /* adjusted the form width */

}
form label{display:block; margin-top:8px; margin-bottom:4px; font-weight:600; text-align: left;}
form input, form select{
  display:flex;
  margin:4px 0 4px;
  padding:8px;
  width:90%;
}

.home-form {
  display: flex;
  flex-direction: column;
  align-items: center;  
  text-align: center;    
  margin-top: 20px;
}

.btn-form{
    background-color: #00a86b;
    color: #fff;
}

/* INGREDIENTS' TEXT STRIKE */
.strike {
  text-decoration: line-through;
  color: #000000;
}


